/* Author: Haby-Phael (habyphael@gmail.com) */

body {
    font-size: 14px;
    color: #000;
}

.spacer {
    margin-top: 75px;
}

.table > thead {
    color: #337AB7;
}

.label {
    padding: 5px 10px;
    margin: 5px;
    font-size: 14px;
}